body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.que
{
  color: blueviolet;
}
.queval
{
  color: magenta;
}
.ans
{
  color: coral;
}
.ansval
{
  color: brown;
}

body{
  margin-left: 3%;
}